<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Vitrine NetShoes</title>
    <meta name="description" content="Vitrine de produtos NetShoes">
    <meta name="author" content="Edson Luiz Fragnan">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
  </head>

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div id='final'>
                  <h1>
                      Compra feita com sucesso!
                  </h1>
              </div>
          </div>
      </div>
  </div>
</div>
